{% extends 'myapp/base.html' %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Upcoming Events</h1>

  <div class="row">
    {% for event in events %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ event.venue }}</h6>
          <p class="card-text"><strong>Date:</strong> {{ event.event_date }}</p>
          <p class="card-text">{{ event.description|truncatechars:100 }}</p>
          <a href="{% url 'update-event' event.id %}" class="btn btn-secondary">update</a>
           <a href="{% url 'delete-event' event.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
