{% extends 'myapp/base.html' %}

{% block content %}
<h1>Venue List</h1>

<div class="row">
    {% for venue in venues %}
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm" style="width: 100%;">
            <div class="card-body">
                <p class="card-title">{{ venue.name }}</p>
                <a href="{% url 'particular-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">More details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
